#groups .badge, #attainment .badge {
    font-size: .875rem !important;
    font-weight: normal !important;
    width: 100% !important;
}

#attainment .badge, #attainment .badge {
    font-size: .875rem !important;
    font-weight: normal !important;
    width: 100% !important;
}
