// Area Chart
.chart-area {
  position: relative;
  height: 10rem;
  width: 100%;
  @include media-breakpoint-up(md) {
    height: 20rem;
  }
}

// Bar Chart
.chart-bar {
  position: relative;
  height: 10rem;
  width: 100%;
  @include media-breakpoint-up(md) {
    height: 20rem;
  }
}

// Pie Chart
.chart-pie {
  position: relative;
  height: 20rem;
  width: 100%;
  @include media-breakpoint-up(md) {
    height: calc(20rem) !important;
  }
}

.schooldashboard .table th,
.schooldashboard .table td {
    padding: 0.6rem;
}

.no-arrow .dropdown-toggle::after {
    display: none;
}
